<%- include('partials/header'); -%>
<center>
<button id="start-button" class="btn btn-lg btn-primary btn-block" onclick="window.location.href='/'" >Start Game</button>
<table>
    <caption style="caption-side:top">High Score</caption>
    <tr>
        <th>Name</th>
        <th>Score</th>
    </tr>

<% for(var i=0; i<name.length; i++){ %>
    <tr>
        <td><%= name[i].name %></td>
        <td><%= score[i].score %></td>
    </tr>
<% } %>
</table>
</center>
<%- include('partials/footer'); -%>